<div id="GitHubExtensionDialog" class="github-login-dialog modal" >
    <div class="modal-header">
        <h1 class="dialog-title">GitHub Extension</h1>
    </div>
    <div class="modal-body">
        <div class="about-text">
            <h3>Please type in your GitHub data:</h3>
            <p>
                <span>Username:&nbsp;</span><input id="GitHubExtension-user" type="text">
            </p>
            <p>
                <span>Password:&nbsp;&nbsp;</span><input id="GitHubExtension-pass" type="password">
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="dialog-button btn left" data-button-id="cancel">{{CANCEL}}</a>
        <a href="#" id="GitHubExtensionSubmit" class="dialog-button btn primary" data-button-id="ok">{{OK}}</a>
    </div>
</div>