<div class="github-access-login modal template" >
    <div class="modal-header">
        <h1 class="dialog-title">{{title}}</h1>
    </div>
    <div class="modal-body">
        <div class="dialog-message">
            <p>
                Please fill in eiter you Username and Password or use an Oauth Token (for info how to generate these please visit <a href="#">this wiki site</a>)
            </p>
            <div class="oauth-auth form-horizontal">
                <label for="repo">Oauth Token:</label>
                <input class="oauth-token" type='text' placeholder='Token'>
            </div>
            <label for="remember">Remember Login:<input type="checkbox" name="remember" value="Remember login"></label>
        </div>
    </div>
    <div class="modal-footer">
        {{#buttons}}
        <button class="dialog-button btn {{className}}" data-button-id="{{id}}">{{{text}}}</button>
        {{/buttons}}
    </div>
</div>